NEXT_PUBLIC_APP_NAME=Confirm Rawmat And C

DB_HOST=127.0.0.1
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=your_password
DB_ENCRYPT=false
DB_TRUST_CERT=true

DB_USER_MANAGEMENT=User_Management
DB_MASTER_DATA=Master_data
DB_GRADE_C=Grade_C

CORE_SAP_API=https://your-sap-api.example.com
